{
  "host": "127.0.0.1",
  "port": 3306,
  "username": "root",
  "password": "root",
  "dbname": "test",
  "tables": ["user"],
  "output": "./pkg/",
  "terminal": false,
  "bigCamelCaseWords": ["id"]
}