{{ $TableName := .BigCamelName -}}
package model

{{ .Imports }}

type {{ $TableName }} struct {
{{ range $index, $field := .Fields }}{{ $field.BigCamelName }} {{ $field.DataType }} `{{ $field.Tag }}`// {{ $field.Comment }}
{{ end }}}

func ({{ $TableName }}) TableName() string {
	return "{{ .Name }}"
}
